body {
    background-image: url('./Images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#signup {
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    padding: 2rem;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.btn-custom {
    background-color: #1cd912;
    color: white;
}
.btn-custom:hover {
    background-color: #0056b3;
}
