<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name the Group</title>
  </head>
  <body>
    <form id="groupForm"">
      <h1>CREATE YOUR GROUP NAME</h1>
      <label for="namethegroup">Name Your Group : </label>
      <input type="text" id="namethegroup" name="namethegroup" required />
      <button type="submit">CREATE GROUP</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="/js/nameGroup.js"></script>
  </body>
</html>
